{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'admin.categories.title'|trans }}{% endblock %}

{% block admin_title %}{{ 'admin.categories.title'|trans }}{% endblock %}

{% block body %}
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid admin-content">
            <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                <div id="entities-grid" class="mdl-cell mdl-cell--12-col">
                </div>
            </div>

        </div>
    </main>
{% endblock %}
{% block javascript %}
    <script type="text/javascript"  src="{{ asset('public/js/ajax-grid.js') }}"></script>
    <script>
        $("#entities-grid").ajaxgrid({
            columnsNames: ["Name"],
            url: "{{ url('ajax_categories') }}",
            editUrl: "categories",
            sortColumns: ["name"],
            filterColumns: ["name"],
            rowsPerPageAmo: 5
        });
    </script>
{% endblock %}