<html>
    <body>
        <h3>{{ 'auth.activation.email.header.text'|trans }}</h3>
        <p>
            {{ 'auth.activation.email.main.text'|trans }}
            <a href="{{ url('account_activation', {'id': token.getId(), 'token': token.getToken()}) }}">
                {{ 'auth.activation.email.a.text'|trans }}
            </a>
        </p>
    </body>
</html>