<html>
    <body>
        <h3>{% trans %}Thank you for choosing Red Dragon News!{% endtrans %}</h3>
        <p>
            {% trans %}To activate your account{% endtrans %}
            <a href="{{ url('account_activation', {'id': token.getId(), 'token': token.getToken()}) }}">
                {% trans %}Click here{% endtrans %}
            </a>
        </p>
    </body>
</html>