<html>
<body>
<h3>{% trans %}Security message{% endtrans %}</h3>
<p>
    {% trans %}To reset your password{% endtrans %}
    <a href="{{ url('new_password', {'id': token.getId(), 'token': token.getToken()}) }}">
        {% trans %}Click here{% endtrans %}
    </a>
</p>
</body>
</html>