<html>
<body>
<h3>{{ 'auth.reset.pass.email.header'|trans }}</h3>
<p>
        {{ 'auth.reset.pass.email.text'|trans }}
    <a href="{{ url('new_password', {'id': token.getId(), 'token': token.getToken()}) }}">
        {{ 'auth.activation.email.a.text'|trans }}
    </a>
</p>
</body>
</html>